$hse-font-family: "HSE Sans", sans-serif;
$hse-font-family-alt: "Proxima Nova Rg", sans-serif;
$hse-font-family-alt-lt: "Proxima Nova Lt", sans-serif;
$hse-font-size-base: 16px;

//palette
$color-base-black: #0f0f14;
$color-base-white: #ffffff;
$color-brand-dark: #002d6e;
$color-brand-twilight: #0044b0;
$color-brand-1: #0050cf;
$color-brand-2: #3a74d0;
$color-brand-3: #8eb2ec;
$color-brand-4: #c2daff;
$color-brand-5: #f0f5ff;
$color-brand-op9: rgba(0, 80, 207, 0.9);
$color-brand-op6: rgba(0, 80, 207, 0.6);
$color-brand-op6: rgba(0, 80, 207, 0.4);
$color-brand-op2: rgba(0, 80, 207, 0.2);
$color-brand-op1: rgba(0, 80, 207, 0.1);
$color-grey-dusk-1: #6b7a99;
$color-grey-dusk-2: #6a7a98;
$color-grey-dusk-3: #7c89a3;
$color-grey-dusk-4: #a2a9b8;
$color-grey-dusk-5: #c0c6d1;
$color-grey-dusk-6: #f0f2f5;
$color-grey-morn-1: #d3d8e6;
$color-grey-morn-2: #e1e4eb;
$color-grey-morn-3: #edeff3;
$color-grey-morn-4: #f5f6fa;
$color-grey-morn-5: #f8f9fb;
$color-system-error-deepdark: #b9212e;
$color-system-error-dark: #d82e2e;
$color-system-error-1: #ff564e;
$color-system-error-light: #ffeeed;
$color-transparent-white: rgba(255, 255, 255, 0.6);
$color-system-warning-deepdark: #8f5714;
$color-system-warning-dark: #e9a21d;
$color-system-warning-1: #f8b73f;
$color-system-warning-light: #fef8ec;
$color-system-success-deepdark: #096237;
$color-system-success-dark: #228b45;
$color-system-success-1: #28c75d;
$color-system-success-light: #e9f9ef;
$color-tag-bg: #e5edfa;
$color-practice: #008EF6;
$color-course: #6650EC;
$color-selection: #EB6D00;
$color-in-progress: #E03A15;
$color-green-day-dark: #00A35F;
$color-blue-header: #2953FC;;
