@import "variables";
.slide-toggle {
  &::ng-deep .mat-slide-toggle-bar {
    width: 56px;
    height: 28px;
    border-radius: 100px;
    background-color: $color-grey-morn-1;
  }

  &::ng-deep .mat-slide-toggle-thumb-container {
    top: 6px;
    left: 6px;
  }

  &::ng-deep .mat-slide-toggle-thumb {
    width: 16px;
    height: 16px;
  }

  &::ng-deep .mat-slide-toggle-thumb {
    background-color: $color-base-white;
    box-shadow: 0 3.8px 11.4px rgba(0, 0, 0, 0.1), 0 0.9px 1.9px rgba(0, 0, 0, 0.1);
  }

  &::ng-deep .mat-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb-container {
      transform: translate3d(28px, 0, 0);
    }
    .mat-slide-toggle-bar {
      background-color: $color-green-day-dark;
    }
  }

  &::ng-deep .mat-ripple-element {
    background-color: transparent;
  }
}

