<div class="footer-container">
  <div class="footer-copy">НИУ ВШЭ, 1992-2021</div>
  <div class="footer-links">
    <a class="footer-links__item" href="https://www.hse.ru/contacts.html" target="_blank">Контакты</a>
    <a class="footer-links__item" href="https://www.hse.ru/copyright" target="_blank">Условия использования
      материала</a>
    <a class="footer-links__item" href="https://www.hse.ru/data_protection_regulation" target="_blank">Политика
      конфиденциальности</a>
    <span class="footer-links__item">Обращение в тех. поддержку</span>
  </div>
</div>


